@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Merriweather+Sans:ital,wght@1,500&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    background: black;
}
#welcomehome{
    display: inline-block;
    height: 760px;
    width: 100%;
    background-image: url("bg2.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    /* position: reative; */
    margin-bottom: -4px;
}

.hidden{
    display: block;
    transform: translateX(-290px);
}
.show{
    display: block;
    transform: translateX(0px);
}
#Hi{
    font-family: 'Merriweather Sans', sans-serif;
    margin: 10px auto;
    font-family: 'Arimo', sans-serif;
    position: relative;
    /* top: 10px;
    left: 491px; */
    text-align: center;
    font-size: 25px;
    color: blanchedalmond;
}
#myName{
    overflow: hidden;
    font-family: 'Arimo', sans-serif;
    /* position: relative;
    left: 488px; */
    margin: 10px auto;
    color: blanchedalmond;
    font-size: 61px;
    text-align: center;
} 
#iam{
    font-family: 'Arimo', sans-serif;
    text-align: center;
    color: #ff0000;
    margin: 20px 20px;
    font-size: 40px;
    margin: 10px auto;
    text-align: center;
}
#skill{
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 53px;
    color: blanchedalmond;
    margin: 10px auto;
    font-size: 62px;
    text-align: center;
}
#mainContent{
    /* border: 1px solid whitesmoke; */
    display: inline-block;
    position: absolute;
    top: 131px;
    left: -71px;
    margin: 20px auto;
    width: 50%;
}

#navbar{
    font-family: 'Arimo', sans-serif;
    display: flex;
    flex-direction: row;  
    position: sticky;
    top: 0;
    color: blanchedalmond;
    background-color:#a52a2aa1 ;
    width: 100%;
    z-index: 15;
    height: 50px;
}
/* #close1{
    display: none;
}
.nav1{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: auto;
  
}*/
.nav{
    font-family: 'Arimo', sans-serif;
    text-decoration: none;
    color: blanchedalmond;
    font-size: 18px;
    width: 33%;
    margin: auto;
    padding: 10px 10px;
} 
#navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    color: #bf9455;
    top: 96px;
    left: 16px;
    width: 270px;
    height: 513px;
    background-color: #8d3200;

}    
.nav1{
    display: inline-block;
    margin: 40px;
    text-align: center;
    width: 170px;
}
  
#ham{
    display: inline-block;
    color: aliceblue;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 32px;
    left: 7px;
    z-index: 1;
}
#ham:hover{
    cursor: pointer;
    color: orangered;
}


.nav:hover{
    color: tomato;
    text-decoration: underline;
}
#aboutMe {
    color: blanchedalmond;
    padding: 10px 10px;
}
#project {
    color: blanchedalmond;
    padding: 10px 10px;
}

#projects{
    padding: 10px 10px;
}
#home{
    padding: 10px 10px;
}
#contact{
    padding: 10px 10px;
}

#socialmedialinks{
    position: fixed;
    right: 44px;
    top: 328px;
    bottom: 0px;
    z-index: 15;
}
#socialmedialinks .sm{
    color: blanchedalmond;
    size: 55px;
}
#git{
    padding: 10px 5px;
}
#ig{
    padding: 10px 5px;
}
#lin{
    padding: 10px 5px;
}
.sm :hover{
    color: tomato
}

#about{
    display: inline-block;
    height: 725px;
    width:100%;
    background-image: url("bg5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
    margin-bottom: -4px;
    
}
#projects{
    display: inline-block;
    height: 720px;
    width:100%;
    background-image: url("bg6.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    
    margin-bottom: -4px;
}
#contacts{
    display: inline-block;
    height: 720px;
    width:100%;
    background-image: url("bg7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -4px;
    position: relative;
   
}
hr{
    color: black;
    border: 1px solid rgb(15, 15, 15);
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: rgb(0, 0, 0);
}
#formcontainer {
    position: absolute;
    top: 69px;
    right: 585px;
    text-align: center;
    width: 23%;
}
.contact{
    overflow: hidden;
    /* border: 1px solid black; */
border-radius: 15px;
margin: 10px auto;
width: 100%;
overflow: hidden;
}
.enter{
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    opacity: .5;
    outline: none;
    
}
.enter::placeholder{
    color: rgb(0, 0, 0);
}
.submit{
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    background-color: burlywood;
    font-family: 'Arimo', sans-serif;
    font-size: 25px;
    opacity: .7;
}
.submit:hover{
    cursor: pointer;
    background-color: rgb(255, 72, 0);
    opacity: 1;
}
#headingcontact h1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 82px;
    right: 391px;
}
#introduction{
    color: white;
    position: absolute;
    top: 266px;
    right: 152px;
    font-size: 25px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
}
#introduction p{
    margin-bottom: 30px;
}
#learnmore {
    height: 30px;
    width: 60px;
    text-decoration: none;
    color: #ffffff;
    background-color: #ec4c00d1;
    padding: 8px 18px;
    border-radius: 23px;
    font-family: 'Arimo', sans-serif;
}
#learnmore:hover{
    color: black;
    background-color: white;

}
.procontainer1{
    display: flex;
    flex-direction: row;
    margin-top: -70px;
    background: #00000057;
}
.procontainer2{
    background: #0000004a;
    margin-top: -92px;
    position: relative;
}
.procontainer2 .pro1 h3{
color: white;
}
.pro1{
    margin: 77px auto;
    width: 300px;
    color: white;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    margin-bottom: 0px;
}
.pro2{
    width: 300px;
    color: white;
    margin: 31px 101px;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    margin-top: 92px;
    height: 216px;
}
#gotogit{
    height: 30px;
    width: 217px;
    text-decoration: none;
    color: #ffffff;
    background-color: #ec4c00d1;
    font-family: 'Arimo', sans-serif;
    position: absolute;
    right: 677px;
    top: 53px;
    padding: 9px 2px;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 37px;

}
#gotogit:hover{
    color: black;
    background-color: white;

}
.mainabout1{
    color: white;
    width: 1099px;
    color: white;
    font-size: 20px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Arimo', sans-serif;
    background: #0808085c;

}
#about h1{
    color: white;
    text-align: center;
    margin: 40px auto;
}
#about img{
    height: 355px;
    width: 410px;
    margin: -22px 555px;
}
#projects h1{
    color: white;
    text-align: center;
    margin: 27px;
}
.mainabout2{
    color: white;
    width: 1099px;
    color: white;
    font-size: 20px;
    margin: auto;
    font-family: 'Arimo', sans-serif;
    background: #0808085c;
}
#center{
    position: absolute;
    bottom: 28px;
    right: 712px;
    color: white;
}

@media (min-width:300px) and (max-width:420px) {
    #navbar{
        display: flex;
        flex-direction: column;
        position: fixed;
        color: blanchedalmond;
        top: 96px;
        left: 16px;
        width: 270px;
        height: 383px;
        background-color: #4c1a1a;

    }    
    .nav1{
        display: inline-block;
        margin: 28px;
        text-align: center;
        width: 192px;
      
    }
    #welcomehome{
        display: inline-block;
        height: 760px;
        width: 100%;
        background-image: url("bg2.jpg");
        background-size: auto;
        background-repeat: no-repeat;
        /* position: reative; */
        margin-bottom: -4px;
        align-items: center;
    }
    #mainContent{
        display: inline-block;
        position: absolute;
        top: 7px;
        right: -86px;
        width: 300px;
        align-items: center;
    
    }

    #Hi{
        font-family: 'Merriweather Sans', sans-serif;
        margin: 10px auto;
        font-family: 'Arimo', sans-serif;
        position: relative;
        text-align: center;
        font-size: 25px;
        color: blanchedalmond;
    }
    #myName{
        overflow: hidden;
        font-family: 'Arimo', sans-serif;
        margin: -27px auto;
        color: blanchedalmond;
        font-size: 35px;
        text-align: center;
    } 
    #iam{
        font-family: 'Arimo', sans-serif;
        text-align: center;
        color: #ff0000;
        margin: 20px 20px;
        font-size: 25px;
        /* margin: 10px auto; */
        text-align: center;
    }
    #skill{
        font-family: 'Arimo', sans-serif;
        color: blanchedalmond;
        margin: -31px auto;
        font-size: 36px;
        text-align: center;
    }
    #socialmedialinks{
        position: fixed;
        right: 29px;
        top: 496px;
        bottom: 0px;
        z-index: 15;
    }
    #ham{
        display: inline-block;
        color: aliceblue;
        height: 50px;
        width: 50px;
        position: fixed;
        top: 32px;
        left: 7px;
        z-index: 1;
    }
   #close1{
    position: relative;
    left: 231px;
    top: 5px;
    color: #56f902d9;
    font-size: 13px;
   } 

   #formcontainer{
    position: absolute;
    top: 123px;
    right: 61px;
    text-align: center;
    width: 64%; 
   }
    #contacts {
        display: inline-block;
        height: 720px;
        width: 100%;
        background-image: url(bg7.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: -4px;
        background-position: center center;
        position: relative;
    }
    #projects{
        display: inline-block;
        height: 720px;
        width: 100%;
        background-image: url(bg6.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: -4px;
        background-position: center center;
        position: relative;
    }
    #about{
        display: inline-block;
        height: 720px;
        width: 100%;
        background-image: url(bg5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: -4px;
        background-position: center center;
        position: relative;
        
    }
    .mainabout1{
        color: white;
        width: 345px;
        color: white;
        font-size: 20px;
        margin: auto;
        margin-top: 50px;
        font-family: 'Arimo', sans-serif;
        text-align: center;
        background: #0000008f;
    }
    .mainabout2{
        color: white;
        color: white;
        width: 345px;
        color: white;
        font-size: 20px;
        margin: auto;
        margin-top: 50px;
        font-family: 'Arimo', sans-serif;
        text-align: center;
        background: #0000008f;
    }
    #about img {
        display:none;
    }
    #introduction {
        color: white;
        position: absolute;
        top: 323px;
        right: 46px;
        font-size: 25px;
        text-align: center;
        font-family: 'Arimo', sans-serif;
        width: 300px;
    }

    .procontainer1 {
        display: flex;
        flex-direction: column;
    }
    .procontainer2 {
        display: none;
    }
     .pro1 {
        margin: 50px auto;
        width: 300px;
        color: white;
        height: 100px;
        font-size: 12px;
        font-family: 'Arimo', sans-serif;
    }
    #center {
        position: absolute;
        bottom: 28px;
        right: 138px;
        color: white;
    }

}
